/*
 deployw.css
 Created by Danny Goossen, Gioxa Ltd on 2/5/17.
 
 MIT License
 
 Copyright (c) 2017 deployctl, Gioxa Ltd.
 
 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:
 
 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
 
 */

/*****************************************************
   Stand alone Page Setup
 *****************************************************/
html {
   position: relative;
   min-height: 100%;
}
body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
}
/* page container
 -------------------------------------------------- */
.container {
   width: auto;
   max-width: 680px;
   padding: 0 15px;
}
.container .text-muted {
   margin: 20px 0;
}

/* header
 -------------------------------------------------- */
.deploy_header {
   padding: 1em;
   color: white;
   background-color: #1abc9c;
   clear: left;
   text-align: center;
}

/* map color header links to div.deploy_header color
 -------------------------------------------------- */
.header-link, .header-link:visited, .header-link:hover, .header-link:active {color: inherit;}


/* Sticky footer
 -------------------------------------------------- */
.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   padding: 1em;
   color: white;
   background-color: #1abc9c;
   clear: left;
   text-align: center;
}

/* set color content links
 -------------------------------------------------- */
.content-link, .content-link:visited, .content-link:hover, .content-link:active {color: #1abc9c;}

/* set Button color to match page
 -------------------------------------------------- */
.btn.btn-primary {
	background-color: #1abc9c;
	border-color: #1abc9c;
}

/*****************************************************
   CSS for the Releases
 *****************************************************/

/* Show Hide older releases
 -------------------------------------------------- */
.old_tag div.displaynone{ display: none; }

/* Responsive screen (release notes and lists / header)
 -------------------------------------------------- */

 /* Small */
@media screen and (max-width: 400px) {
    .release_notes h1, .h1 { font-size: 24px; }
    .release_notes h2, .h2 { font-size: 21px; }
    .release_notes h3, .h3 { font-size: 29px; }
    .release_notes ul, ol { padding-left: 6px; }
    .deploy_header h1 { font-size: 24px ; padding: 3px; margin: 0px;}
    .glyphicon { padding-left: 0px; padding-right: 0px;}
    div.filelist { padding-left: 10px;}
    .deploy_header {    height: 50px; }
}
 /* Medium */
@media screen and (max-width: 680px) and (min-width: 400px) {
    .release_notes h1, .h1 { font-size: 27px; }
    .release_notes h2, .h2 { font-size: 24px; }
    .release_notes h3, .h3 { font-size: 21px; }
    .release_notes ul, ol { padding-left: 12px; }
    .deploy_header h1 { font-size: 28px ; padding: 11px;margin: 0px;}
    .glyphicon { padding-left: 5px; padding-right: 5px;}
    div.filelist { padding-left: 15px;}
    .deploy_header {    height: 70px; }
}
 /* Large */
@media screen and (min-width: 680px) {
    .release_notes h1, .h1 { font-size: 30px; }
    .release_notes h2, .h2 { font-size: 26px; }
    .release_notes h3, .h3 { font-size: 22px; }
    .release_notes ul { padding-left: 20px; }
    .release_notes ol { padding-left: 20px; }
    .deploy_header h1 { font-size:  32px ;padding: 19px;margin: 0px;}
    .glyphicon { padding-left: 10px; padding-right: 10px;}
    div.filelist { padding-left: 20px;}
    .deploy_header {    height: 90px; }
}

/* Reduce Margins for info
 -------------------------------------------------- */
.internal_tag_div {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Release notes fixed
 -------------------------------------------------- */
.release_notes
{
   border-left: 2px solid;
   padding-left: 20px;
   margin:5px;
}

/* file/link list fixed <v>
-------------------------------------------------- */
.filelist
{
   border-left: 2px solid;
   margin:5px;
}
p.text-info { margin-bottom: 0px;}
.filelist hr { margin-top: 1px; margin-bottom: 4px; }
